<a href="https://colab.research.google.com/github/YevheniiKshanovskyi/SFLteam/blob/Maxym-Leskovych/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Run firstly to import required libraries
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('Maths.csv') # Run to read the dataset
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

8. На скільки більший відсоток найщасливіших багатодітних сімей від найменш щасливих ( якщо брати від загальної кількості багатодітних)?

In [47]:
best = len(data[(data.famrel == 5 ) & (data.famsize == 'GT3')]) / len(data[data.famsize == 'GT3'])*100
worst = len(data[(data.famrel == 1 ) & (data.famsize == 'GT3')]) / len(data[data.famsize == 'GT3'])*100
print('відсоток найщасливіших багатодітних сімей більший від найменш щасливих на ',round(best-worst,2), '%, якщо брати від загальної кількості багатодітних')

відсоток найщасливіших багатодітних сімей більший від найменш щасливих на  25.27 %, якщо брати від загальної кількості багатодітних